.resourcesContainerSecond{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 88vw;
    height: 40vh;
    flex-shrink: 0;
    margin-left: 6vw;
    margin-bottom: 5vh;

}
.resourcesAllContent{
    margin-bottom: 20.7vh;
}

.resourceBoxSecond{
    display:flex;
    flex-direction: column;
    width: 25vw;
    height: 40vh;
    border-radius: 10px;
    border: 1px solid var(--Anarchy-Yellow, #FFD600);
    box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
}

/* .img{
    height: auto;
    width: 100%;
} */

.imgContainer{
    height:auto;
    width:100vw;
    border:2px solid purple;
}

.imgLabel{
    color: var(--Stroke-Black, #090A0C);
    /* h4 bold */
    font-family: Exo 2;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 100% */
    text-align: center;
    margin: 0;
}

.description{
    color: var(--Stroke-Black, #090A0C);
    /* h4 */
    font-family: Exo 2;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 300;
    line-height: 3.5vh;
    margin-left: 3vw;
    
}

.descriptionCon{
    display: flex;
    width: 20vw;
    height: 102px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-top:3vh;
}

.resourcesHeaderSecond{
    color: var(--Stroke-Black, #090A0C);
    /* h2 */
    text-align: center;
    margin-bottom:3vh;
    font-family: Exo 2;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 133.125%; /* 63.9px */ 
}