  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    padding: 20px;
    background-color: #222222;
    bottom: 0;
    width: 100%;
  }
  
.join-container {
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.email-input {
    width: 60%; 
    height: auto; 
    max-width: 100%;
    padding-right: 10px ; 
}
.subscribe-button {
    width: 100%; 
  }
  .footer-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-column h4 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column ul li {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 5px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 0px;
  }
  
  .footer-column p {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 2px;
    color: #ffffff;
  }
  
  .footer-column button {
    width: 100%;
    height: 40px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #090a0c;
    background: #ffd600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* margin-top: 20px; */
  }
  
  .horizontal-line {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    margin: 5px 0;
  }
  
  .additional-elements {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-wrap: wrap; /* Allow content to wrap if it exceeds the width */
    gap: 10px;
    margin-top: 10px;
  }
  
  .additional-elements p {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 5px;
  }
  