@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;600&display=swap');

.custom-modal {
    position: fixed;
    width: 615px;
    height: 671px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #FFD600;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-title {
    width: 80%; 
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #090A0C;
    margin-bottom: 20px; 
}

.modal-paragraph {
    width: 80%; 
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #090A0C;
    margin-bottom: 20px; 
}


.close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 24px;
    color: #090A0C; 
  }
  
  
  
  

