.our-history-section {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    width: 100%; 
}
  
.our-history-section .text-wrapper {
    color: var(--stroke-black);
    font-family: var(--h-2-font-family);
    font-size: 48px; 
    font-style: var(--h-2-font-style);
    font-weight: var(--h-2-font-weight);
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
  
.our-history-section .timeline-block {
    height: 800px;
    margin-right: -167px;
    overflow: hidden;
    overflow-x: scroll;
    position: relative;
    width: 100%; 
}
  
.our-history-section .full-timeline {
    align-items: flex-start;
    display: flex;
    gap: 32px;
    height: 800px;
    position: relative;
    width: 100%; 
}
  
.our-history-section .element {
    align-items: flex-start;
    background-color: var(--fill-black);
    border-radius: 16px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 32px;
    height: 800px;
    padding: 32px 32px 120px;
    position: relative;
}
  
.our-history-section .div {
    color: var(--anarchy-yellow);
    font-family: var(--h-1-font-family);
    font-size: var(--h-1-font-size);
    font-style: var(--h-1-font-style);
    font-weight: var(--h-1-font-weight);
    letter-spacing: var(--h-1-letter-spacing);
    line-height: var(--h-1-line-height);
    margin-top: -1px;
    position: relative;
    width: fit-content;
}
  
.our-history-section .p {
    color: var(--bright-white);
    font-family: var(--h-4-font-family);
    font-size: 22px;
    font-style: var(--h-4-font-style);
    font-weight: var(--h-4-font-weight);
    letter-spacing: var(--h-4-letter-spacing);
    line-height: var(--h-4-line-height);
    position: relative;
    width: 411px;
}
  
.our-history-section .cambridge-where-it {
    color: var(--bright-white);
    font-family: var(--h-2-font-family);
    font-size: var(--h-2-font-size);
    font-style: var(--h-2-font-style);
    font-weight: var(--h-2-font-weight);
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    margin-bottom: -50px;
    position: relative;
    width: 411px;
}
  
.our-history-section .element-2 {
    align-items: flex-end;
    background-color: var(--fill-black);
    border-radius: 16px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 32px;
    height: 800px;
    justify-content: flex-end;
    padding: 120px 32px 32px;
    position: relative;
}
  
.our-history-section .FNB-comes-to-san {
    color: var(--bright-white);
    font-family: var(--h-2-font-family);
    font-size: var(--h-2-font-size);
    font-style: var(--h-2-font-style);
    font-weight: var(--h-2-font-weight);
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    margin-top: -52px;
    position: relative;
    width: 411px;
}
  
.our-history-section .text-wrapper-2 {
    color: var(--anarchy-yellow);
    font-family: var(--h-1-font-family);
    font-size: var(--h-1-font-size);
    font-style: var(--h-1-font-style);
    font-weight: var(--h-1-font-weight);
    letter-spacing: var(--h-1-letter-spacing);
    line-height: var(--h-1-line-height);
    position: relative;
    width: fit-content;
}
  
.our-history-section .text-wrapper-3 {
    color: var(--bright-white);
    font-family: var(--h-2-font-family);
    font-size: var(--h-2-font-size);
    font-style: var(--h-2-font-style);
    font-weight: var(--h-2-font-weight);
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    margin-bottom: -51px;
    position: relative;
    width: 411px;
}
  
.our-history-section .text-wrapper-4 {
    color: var(--bright-white);
    font-family: var(--h-2-font-family);
    font-size: var(--h-2-font-size);
    font-style: var(--h-2-font-style);
    font-weight: var(--h-2-font-weight);
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    margin-top: -25px;
    position: relative;
    width: 411px;
}
  
.our-history-section .text-wrapper-5 {
    color: var(--bright-white);
    font-family: var(--h-2-font-family);
    font-size: var(--h-2-font-size);
    font-style: var(--h-2-font-style);
    font-weight: var(--h-2-font-weight);
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    position: relative;
    width: 411px;
}
  
.our-history-section .frame {
    flex: 0 0 auto;
    margin-bottom: -8px;
    position: relative;
    width: 1178px;
}

.read-more-class {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px; 
    margin-bottom: 20px;
}
  
.read-more {
    max-width: 100%; 
    height: auto; 
}