.textSize{
    font-size: 72px;
}

*{
    font-family: exo 2;
}

.background{
    background-image: url('taglineImages/taglineDarkFNB.jpg');
    padding-top: 12vh;
    padding-bottom: 52vh;
    background-position-y: 80%;
    height: 1vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size:cover;

    
}

.tagText{
    text-align: center;
    font-size:2.1vw;

}

.tagSpan{
    color:white;

}

.buttonContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.buttons{

    margin-top: 2vh;
 
}

.button{
    
    border-radius: 6px;
    font-size: 1.5vw;
    padding:1vw 2vw;
    background-color: #FFD600;
    margin-right: 1vw;
}

.button1{
    margin-right: 1.4em;
    margin-left:.25em;
}
.button2{
    margin-left:1.4em;
}
.button{
    color:black;
    box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.noTextDec{
    text-decoration: none;
}

.contentContainer{
display:flex;
justify-content: center;
text-align: center;
}

.tagContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statsContainer{
    border:1px solid purple;
    display: flex;
    justify-content: center;
    
}